@import '../../styles/baseStyles.scss';

.placesPanelContainer {
    height: 100%;
    justify-content: space-between;
    width: 330px;
    max-width: 330px;
    color: '[theme:white, default: #ffffff]';
    background-color: '[theme:themeDarker, default: #323130]'; // gray120
    display: flex;
    flex-direction: column;
    font-weight: $ms-font-weight-regular;
    transition: 0.1s width ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.placesPanelContent {
    min-width: 250px;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0 1em;
    opacity: 0;
    animation: fadeIn 0.1s ease-in-out 0.2s forwards;
}

@keyframes jiggle {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(3px);
    }
}

.placesPanelContainer__collapsed {
    width: 40px;
    justify-content: center;
    align-items: center;
    font-size: $ms-font-size-24;
    cursor: pointer;
    &:hover {
        i {
            animation: jiggle 0.3s ease-in-out infinite alternate;
        }
    }
}

.placesPanelContainer__clicker {
    padding: 0 8px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.placesPanelHeader {
    padding: 0;
    margin: $medium 0;
    margin-top: 0;
    font-size: $ms-font-size-24;
    font-weight: $ms-font-weight-semibold;
}

.placesPanelLogo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 24px;
    font-size: $textLarge;
    font-weight: $textLight;
    margin-top: $medium;

    span {
        display: flex;
        align-items: center;
        span {
            font-weight: $textBold;
        }
    }

    svg {
        font-size: 20px;
        margin-left: 6px;
    }
}

.placesPanelLogo__version {
    color: $themeTertiary;
    font-size: $textXS;
}

.placesPanelNoPlaces {
    margin: $medium 0;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.placesPanelNoPlaces__text {
    display: flex;
    align-items: center;
    i {
        margin-right: $xsmall;
    }
}

.placesList {
    padding-bottom: 0;
    flex-shrink: 1;
}

.placesPanelButton {
    font-size: $ms-font-size-16;
    line-height: $ms-font-size-20;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: '[theme:white, default: #ffffff]';
    border: none;
    background-color: transparent;
    text-align: left;
    font-weight: 400;
    padding: 0.3em 0.5em;

    & > i {
        visibility: hidden;
        font-size: $ms-font-size-10;
        position: absolute;
        left: 0.8em;
    }

    &:hover {
        color: $themeLight;
        & > i {
            opacity: 0.66;
            visibility: visible;
            color: '[theme:white, default: #ffffff]';
        }
    }
}

.placesPanelButton__selected {
    font-weight: $ms-font-weight-semibold;

    & > i {
        visibility: visible;
    }

    &:hover {
        color: $white;
        & > i {
            opacity: 1;
        }
    }
}

.startButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    p {
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 5px;
    }
}

.placesPanelMenuOption {
    cursor: pointer;
    font-size: $ms-font-size-16;
    display: flex;
    align-items: center;
    line-height: $ms-font-size-24;
    margin: $small 0;
    font-weight: $textLight;

    &:hover {
        color: $themeLight;
    }

    i {
        font-size: $ms-font-size-16;
    }

    p {
        margin: 0 0.35em;
    }
}

.placesPanelOptionContainer {
    margin-top: auto;
}

.placesPanelAddPlaceButtons {
    display: flex;
    align-items: center;
}

.placesPanelAddPlaceStatusMessageContainer {
    margin-top: $medium;
}

.placesPanelAddPlacePeoplePickerLabel {
    label {
        font-weight: $textSemiBold;
    }
}
