.placesPanelContainer {
    height: 100%;
    justify-content: space-between;
    width: 330px;
    max-width: 330px;
    color: '[theme:white, default: #ffffff]';
    background-color: '[theme:themeDarker, default: #323130]'; // gray120
    display: flex;
    flex-direction: column;
    font-weight: $ms-font-weight-regular;
    transition: 0.1s width ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
